# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Environment variables and secrets
.env
.venv
*.env

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, if you do not want to version lockfile, uncomment the following line:
#Pipfile.lock

# poetry
#   According to poetry documentation, the poetry.lock file should be tracked in version control.
#   However, if you do not want to version lockfile, uncomment the following line:
#poetry.lock

# ruff / linters / testing tests
.ruff_cache/
.mypy_cache/
.pytest_cache/
.tox/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and Editors (Optional but highly recommended)
.vscode/
.idea/
*.swp
*.swo
.DS_Store
